* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--noir);
}

.margin--bottom {
    margin-bottom: 15px;
}

.margin--top {
    margin-top: 100px;
}

body {
    background-color: var(--gris-1);
    font-family: var(--Josefin-sans);
}

main {
    padding-inline: 10px;
}

h1, h2, h3 {
    font-family: var(--Dancing-script);
}

h1, h2 {
    font-size: var(--heading-1);
    color: var(--vert-1);
}

.accueil__titre {
    margin-left: 20px;
}

.intro,
.titre,
.expo {
    text-align: center;
}

.intro {
    padding-bottom: 30px;
}

.titre {
    padding-top: 100px;
    margin-bottom: 10px;
}


.expo {
    background-color: var(--vert-2);
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-inline: -10px;
    margin-bottom: 30px;
    font-size: var(--body-1);
}

.expo p,
.expo strong,
.expo__tarif h2 {
    color: var(--blanc);
}

.expo h2 {
    font-size: var(--heading-2);
}

.expo__titre {
    font-size: var(--heading-2);
    font-family: var(--Josefin-sans);
    color: var(--blanc);
}

.expo h4 {
    text-align: left;
    font-family: var(--Dancing-script);
    font-size: var(--heading-2);
    color: var(--blanc);
    margin-top: 20px;
    margin-bottom: 20px;
}

.expo__list {
    text-align: right;
    margin-top: 30px;
    font-size: var(--body-2);
}

.expo__tarif {
    text-align: left;
    margin-top: 20px;
}

.tarif__list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarif__list li {
    margin-top: 5px;
}

.expo__btn {
    background: none;
    border: var(--blanc) solid 2px;
    padding: 8px;
    padding-bottom: 6px;
    border-radius: 15px;
    font-size: var(--body-2);
    margin-top: 20px;
}  

.tarif__billet {
    display: flex;
    align-items: center;
}

.tarif__btn {
    background-color: var(--gris-2);
    padding: 8px;
    padding-bottom: 1px;
    padding-top: 5px;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 5px;
}
