* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--noir);
}

.margin--bottom {
    margin-bottom: 15px;
}

body {
    background-color: var(--gris-1);
    font-family: var(--Josefin-sans);
}

main {
    padding-inline: 10px;
}

h1, h2, h3 {
    font-family: var(--Dancing-script);
}

h1, h2 {
    font-size: var(--heading-1);
    color: var(--vert-1);
}

.accueil__titre {
    margin-left: 20px;
}

.intro,
.titre {
    text-align: center;
}

.intro {
    padding-bottom: 30px;
}

.titre {
    padding-top: 100px;
    margin-bottom: 10px;
}