img {
    max-width: 100%;
}

.artiste__article--droite img,
.artiste__article--gauche img {
    margin-bottom: -5px;
}

.portrait__img,
.oeuvre__img {
    width: 75%;
    min-width: 250px;
    min-height: 250px;
    margin-top: 12px;
    border-radius: 18px;
}

.galerie img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.vignette__img {
    margin-bottom: -5px;
}

.frise__img {
    min-height: 140px;
}

.carrousel__btn img {
    width: 90%;
}