:root {
    /* Color */
    --vert-1: #005A34;
    --vert-2: #43655A;
    --vert-clair: #CFFFB9;
    --gris-1: #F5F5F5;
    --gris-2: #B1BDC5;
    --gris-3: #374443;
    --noir: #1C1514;
    --blanc: #FAFAFA;

    /* Text-size */
    /* base size: body-1 (14px) */
    --heading-1: 30px;
    --heading-2: 22px;
    --subheading: 17px;
    --body-1: 14px;
    --body-2: 13px;
    --small-text: 11px;

    /* Fonts */
    --Dancing-script: 'Dancing Script', cursive;
    --Josefin-sans: 'Josefin Sans', sans-serif;
}
