footer {
    background-color: var(--gris-2);
    text-align: center;
    padding: 5px;
}

.footer__list--social {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding: 20px;
    padding-bottom: 30px;
}

.footer__list--nav {
    font-family: var(--Dancing-script);
    font-size: var(--subheading);
    padding-bottom: 2px;
}

.footer__list--nav li {
    line-height: 180%;
}

.footer__icon--dart {
    width: 100px;
}

.list__icon {
    width: 34px;
    height: 34px;
}

.footer__copyright {
    text-align: left;
    font-size: var(--small-text);
    font-weight: 300;
}

.footer__mailto {
    padding-top: 30px;
    font-size: var(--body-2);
    font-style: italic;
}