.header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--gris-2);
}

.header__elt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 18px;
}

.header__icon--langue,
.header__btn {
    margin-top: 20px
}

.header__btn {
    background: none;
    border: none;
}

.header__icon--langue {
    width: 40px;
    height: 40px;
}

.header__icon--dart {
    width: 100px;
    margin-left: 10px;
}

.header__icon--menu {
    position: absolute;
    top: 38px;
    right: 15px;
    width: 34px;
    height: 34px;
}