article {
    text-align: center;
    margin-bottom: 30px;
}

.artiste {
    width: 95%;
    margin: auto;
}

.artiste__article {
    position: relative;
    max-width: 740px;
    margin-top: 30px;
}

.artiste__article h3 {
    margin-top: 8px;
    color: var(--vert-1);
    font-size: var(--heading-2);
}

.artiste__article--droite,
.artiste__article--gauche {
    background-color: var(--vert-2);
    padding: 7px;
    box-shadow: 3px 2px 8px gray;
}

.artiste__article--droite,
.artiste__article--droite img {
    border-radius: 20px 0 20px 0;
}

.artiste__article--gauche,
.artiste__article--gauche img {
    border-radius: 0 20px 0 20px;
}

.article__btn,
.article__btn--droite {
    position: absolute;
    bottom: 55px;
    border: var(--blanc) solid 2px;
    width: 100px;
    padding: 8px;
    padding-top: 9px;
    border-radius: 10px;
    box-shadow: 0 1px 10px black;
}

.article__btn p,
.article__btn--droite p {
    color: var(--blanc);
    font-size: var(--body-2);
}

.article__btn {
    left: 20px;
}

.article__btn--droite {
    right: 20px;
}