.vignette__btn {
    background-color: var(--gris-1);
    position: absolute;
    border-radius: 30px;
    padding: 5px;
    padding-top: 9px;
    text-align: center;
    width: 80px;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 1px 8px gray;
}


.article__btn,
.article__btn--droite,
.card__btn {
    position: absolute;
    bottom: 55px;
    border: var(--blanc) solid 2px;
    width: 100px;
    padding: 8px;
    padding-top: 9px;
    border-radius: 10px;
    box-shadow: 0 1px 10px black;
}

.article__btn p,
.article__btn--droite p {
    color: var(--blanc);
    font-size: var(--body-2);
}

.article__btn {
    left: 20px;
}

.article__btn--droite {
    right: 20px;
}


.expo__btn {
    background: none;
    border: var(--blanc) solid 2px;
    padding: 8px;
    padding-bottom: 6px;
    border-radius: 15px;
    font-size: var(--body-2);
    margin-top: 20px;
}  


.card__btn {
    position: relative;
    width: 110px;
    bottom: 20px;
    margin-top: 40px;
    margin-inline: auto;
    padding: 8px;
    padding-bottom: 7px;
    box-shadow: 0 1px 8px black;
}

.erreur__btn {
    margin-top: 15px;
    font-size: var(--body-1);
    margin-bottom: 20px;
    padding: 6px;
    padding-bottom: 4px;
    width: 110px;
    border-radius: 10px;
    border: var(--vert-1) solid 2px;
    box-shadow: 0 1px 5px gray;
}