.carrousel {
    position: relative;
    background-color: var(--vert-2);
    margin-inline: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.carrousel__container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.carrousel__elt {
    width: 60%;
    display: flex;
    margin-inline: 5%;
    flex: none;
    scroll-snap-align: center;
    margin-inline: auto;
}

.carrousel__elt figure {
    margin: 10px;
}

.carrousel figcaption {
    text-align: center;
    color: var(--blanc);
    margin-top: 4px;
}