.frise {
    position: relative;
    max-width: 1080px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.frise__container {
    background-color: var(--vert-2);
    margin: 5px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    contain: content;
}

.frise__date--droite,
.frise__date--gauche {
    font-size: var(--heading-1);
    text-shadow: 1px 4px 6px black;
    font-weight: 600;
    position: absolute;
    margin-top: 40px;
}

.frise__date--droite p,
.frise__date--gauche p {
    color: var(--blanc);
}

.frise__date--droite {
    right: 2%;
}

.frise__date--gauche {
    left: 2%;
}

.date--droite {
    margin-left: 55px;
    text-align: right;
}

.frise__card--droite,
.frise__card--gauche {
    background-color: var(--gris-1);
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 40px;
    text-align: center;
    width: 220px;
    min-height: 300px;
    position: relative;
    contain: content;
}

.frise__card--droite {
    left: 33%;
    box-shadow: -2px 2px 10px black;
}

.frise__card--gauche {
    box-shadow: 2px 2px 10px black;
}