.galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
}

.galerie li {
    height: 160px;
    width: 160px;
    box-shadow: 2px 1px 6px gray;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;
}

.galerie li p {
    color: var(--vert-1);
}