.menu {
    background-color: var(--vert-2);
    border-radius: 0 0 0 50px;
    position: fixed;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 100px;
    box-shadow: black 1px 1px 15px;
    left: 0;
    right: 0;
    top: 0;
    font-size: var(--heading-2);
    font-family: var(--secondary);
    text-align: right;
    z-index: 2;
}

.menu__list {
    margin-top: 30px;
    text-shadow: 1px 1px 10px black;
}

.menu__list a {
    color: var(--blanc);
    margin-right: 10px;
}