.footer__motif-barre,
.footer__motif-barre--petite,
.motif__barre--gauche,
.expo__barre-milieu {
    content: "";
    width: 70%;
    height: 2px;
    background-color: var(--vert-2);
    opacity: 0.8;
    border-radius: 3px;
    margin: 10px auto;
}

.footer__motif-barre--petite,
.expo__barre-milieu {
    width: 50%;
    margin-top: 5px;
}


.motif__barre--gauche {
    margin-left: -10px;
    width: 150px;
    height: 3px;
    opacity: 1;
}

.expo__barre-milieu {
    width: 65%;
    margin-bottom: 25px;
    background-color: var(--vert-clair);
}

.portrait__pattern {
    background: radial-gradient(circle, var(--vert-1) 40%, transparent 20%);
    background-size: 1em 1em;
    height: 80%;
    width: 75%;
    position: absolute;
    right: 9%;
    border-radius: 0 35px 0 0;
    z-index: -1;
}